.card {
  min-width: 600px;
  max-height: 400px;
  padding-block: 1rem;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__radio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}