.cardlist__container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    gap: 1rem;
  }

  &__content {
  }

  &__steps {
   min-width: 130px;
  }
}